<ion-content>
  <ion-label floating>Subir información</ion-label>
  <div class="name">
    <ion-input class="inputData" placeholder="Nombre" [(ngModel)]="newData.nombre"></ion-input>
  </div>
  <div class="name">
    <ion-input class="inputData" placeholder="Detalle" type="textarea" [(ngModel)]="newData.detalle"></ion-input>
  </div>
  <div class="name">
    <ion-input class="inputData" placeholder="Id" [(ngModel)]="newData.id"></ion-input>
  </div>
  <ion-input type="file" [id]="pic"(change)="newImageUpload($event)" ></ion-input>
  <img [src]="newImage" alt="">
  <button class="Button_Primary" (click)="guardarData()" expand="block" fill="clear" shape="round">
   Subir datos
  </button>
</ion-content>